/*RESET.CSS*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET.CSS*/

.wrapper {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.center {
	width: auto;
	max-width: 1170px;
	margin: 0 auto;
}

/*----------------------------------------HEADER--------------------------------------------------*/


header {
	max-width: 1400px;
	position: absolute;
	z-index: 3;
	height: 67px;
	width: 100%;
	border-top: 3px solid #7f7f7f;
	transition: all 0.7s;
	background-color: rgba(6, 6, 11, 0.349);
	
}

header:hover {
	border-top: 3px solid #262626;
}

header .hed {
	display: flex;
	max-height: 67px;
}

header .hed .block_logo {
	width: 20%;
}

header .hed .block_logo .hex {
	width: 230px;
	height: 205px;
	top: -112px;
	left: 7%;
	background-color: #ff0036;
	position: relative;
	clip-path: polygon(100% 50%, 100% 70%, 75% 100%, 25% 100%, 0% 70%, 0% 50%);
	margin-left: 21%;
	cursor: pointer;
	z-index: 2;
}

header .hed .block_logo .hex .hex-inner {
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background: #131313;
	clip-path: polygon(100% 50%, 100% 70%, 75% 100%, 25% 100%, 0% 70%, 0% 50%);
}

header .hed .block_logo .hex .hex-inner span {
	display: inline-block;
	font-size: 30px;
	font-family: 'MyriadPro-Regular';
	color: #fff;
	padding-left: 22%;
	padding-top: 135px;
	letter-spacing: 3px;
	z-index: 1;
}

header .hed .block_menu {
	width: 71%;
	max-height: 67px;
}

header .hed .block_menu .menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 67px;
	margin-left: 16%;
}

header .hed .block_menu .menu li {
	display: inline-block;
	position: relative;
	top: -1px;
	padding-top: 16px;
	padding-bottom: 32px;
	border-top: 3px solid #7f7f7f00;
	border-bottom: 2px solid #ff003700;
	cursor: pointer;
}

header .hed .block_menu .menu a li{
	text-decoration: none;
	color: #a4a4a4;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

header .hed .block_menu .menu a:hover li {
	color: #fff;
}

header .hed .block_menu .menu li:hover:after {
	content: "";
	position: absolute;
	top: -3px;
	height: 67px;
	left: 20%;
	width: 56%;
	border-top: 4px solid #ff0036;
	border-bottom: 3px solid #ff0036;
}

@media(max-width:1200px) {
    header .hed .block_menu {
        width: 80%;
    }
	header .hed .block_menu .menu {
		margin-left: 15%;
		margin-right: 3%;
	}
	.center {
		width: 93%;
	}
}
@media(max-width:991px) {
	header .hed .block_menu .menu {
		display: none;
	}

	header .hed .burger {
		display: flex;
		position: absolute;
		align-items: center;
		justify-content: center;
		top: 0px;
		right: 0px;
		width: 35px;
		height: 35px;
		background-color: #262626;
		margin: 15px;
		border: 2px solid #fff;
		border-radius: 20px;
	}

	header .hed .burger i {
		display: block;
		width: 6px;
		height: 6px;
		border-radius: 4px;
		margin: 2px;
		background-color: #f7f7f7;
	}

	/* header .hed .block_menu .open {
		display: flex;
		flex-direction: column;
		height: 350px;
		margin-left: 70%;
		margin-right: 10%;
		background-color: #262626;
	} */
	header .hed .block_menu .menu a li {
		font-size: 16px;
	}
	header .hed .block_menu .menu li {
		padding-top: 10px;
		padding-bottom: 10px;
		cursor: pointer;
	}
	header .hed .block_menu .menu li:hover:after {
		height: 40px;
		left: 0%;
		width: 100%;
		border-top: 3px solid #ff0036;
		border-bottom: 3px solid #ff0036;
	}
}
@media (max-width: 767px) {
	header .hed .block_logo .hex {
		width: 171px;
		height: 188px;
		top: -112px;
		left: -10%;
	}
	header .hed .block_logo .hex .hex-inner span {
		font-size: 26px;
		padding-left: 15%;
	}
    .container2 .item h2 {
		margin-top: -33.5%;
		font-size: 25px;
	}
	.container2 .item p {
		font-size: 14px;
		padding-left: 5%;
		padding-right: 5%;
	}
	.container2 .item .link_top .link_right,
	.container2 .item .link_top .link_left {
		font-size: 18px;
		padding: 10px 25px 10px 25px;
	}
	.container2 .item .link_top {
		padding-bottom: 75px;
	}
}

@media (max-width: 500px) {
	header .hed .block_logo .hex {
		width: 135px;
		height: 175px;
	}
	header .hed .block_logo .hex .hex-inner span {
		font-size: 19px;
	}
	header .hed .block_menu .open {
		margin-left: 44%;
		margin-right: 22%;
	}
	.container2 .item h2 {
		margin-top: -30.5%;
	}
    .container2 .item p {
		padding-top: 4%;
		padding-bottom: 11.5%;
	}

	.container2 .item .link_top {
		padding-bottom: 10px;
	}
}
@media (max-width: 400px) {
	header .hed .block_logo .hex {
		width: 130px;
		height: 134px;
		top: -81px;
	}
	header .hed .block_logo .hex .hex-inner span {
		font-size: 19px;
		padding-top: 90px;
        padding-left: 12%;
	}
	header .hed .block_menu .open {
		margin-left: 44%;
		margin-right: 22%;
	}
	.container2 .item h2 {
		margin-top: -73.5%;
	}
    .container2 .item p {
		padding-top: 4%;
		padding-left: 10%;
		padding-right: 10%;
		color: #fff;
		padding-bottom: 10%;
	}

	.container2 .item .link_top {
		padding-bottom: 10px;
	}
}

/*----------------------------------------CONTAINER2--------------------------------------------------*/


.container2 {
	width: 100%;
}

.container2 img {
	max-width: 100%;
	z-index: -1;
}

.container2 h2 {
	margin-top: -32.5%;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #ffffff;
	z-index: 2;
}

.container2 h2 span {
	color: #ff0036;
}

.container2 p {
	padding-top: 2%;
	text-align: center;
	font-size: 16px;
	font-family: 'Lato';
	color: #ffffff;
	padding-left: 13%;
	padding-right: 13%;
	padding-bottom: 5.5%;
}
.container2 .link_top {
	padding-bottom: 155px;
	text-align: center;
}


.container2 .link_top .link_left {
	text-decoration: none;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #ffffff;
	background-color: #262626;
	padding: 13px 35px 13px 35px;
	margin-right: 10px;
}

.container2 .link_top .link_right {
	text-decoration: none;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #ffffff;
	background-color: #262626;
	padding: 13px 38.5px 13px 35px;
	margin-left: 10px;
}

.container2 .link_top .link_left:hover {
	background-color: #ff0036;
}

.container2 .link_top .link_right:hover {
	background-color: #ff0036;
}





/*-------------------------------------------------------CONTAINER3----------------------------------------------------*/





.container3 h1 {
	padding-top: 100px;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #262626;
}

.container3 h1 span {
	color: #ff0036;
}

.container3 p {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	font-size: 16px;
	font-family: 'Lato';
	font-weight: bold;
	color: #505050;
}

.container3 p span {
	color: #ff0036;
}

.container3 .blocks .content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}

.container3 .blocks .content .text {
	width: 49%;
}

.container3 .blocks .content .text p {
	padding-top: 46px;
	text-align: left;
	font-size: 16px;
	font-family: 'Lato';
	color: #5c5c5c;
}

.container3 .blocks .content .text .text_js {
	display: flex;
	flex-wrap: wrap;
	margin-top: 35px;
}

.container3 .blocks .content .text .text_js .item {
	margin-top: 9px;
	width: 568px;
	height: 55px;
	background-color: #f7f7f7;
	border: 1px solid #e7e7e7;
	border-left: none;
}

.container3 .blocks .content .text .text_js .item #plus {
	font-size: 18px;
	color: #262626;
	padding: 19px 19px 16px 19px;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}

.container3 .blocks .content .text .text_js .item:hover #plus {
	display: none;
}

.container3 .blocks .content .text .text_js .item #minus {
	display: none;
	position: relative;
	z-index: 2;
	font-size: 18px;
	color: #ff0036;
	padding: 19px 19px 16px 19px;
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
}

.container3 .blocks .content .text .text_js .item:hover #minus {
	display: inline-block;
}

.container3 .blocks .content .text .text_js .item a {
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #262626;
	padding: 12px 0 10px 32px;
}

.container3 .blocks .content .text .text_js .item:hover a {
	color: #ff0036;
}

.container3 .blocks .content .text .text_js #block,
.container3 .blocks .content .text .text_js #block2,
.container3 .blocks .content .text .text_js #block3 {
	display: none;
	width: 568px;
	height: 84px;
	border: 1px solid #e7e7e7;
	border-top: none;
}

.container3 .blocks .content .text .text_js #block p,
.container3 .blocks .content .text .text_js #block2 p,
.container3 .blocks .content .text .text_js #block3 p {
	padding-top: 16px;
	text-align: left;
	font-size: 14px;
	font-family: 'Lato';
	color: #505050;
	padding: 16px;
}


.container3 .blocks .content .photo {
	width: 49%;
	max-height: 370px;
	min-width: 415px;
}

.container3 .blocks .content .photo img {
	max-width: 90%;
	
	position: relative;
	margin: 46px 0 46px 8%;
	z-index: 4;
}


.container3 .blocks .renge {
	height: 39px;
	-webkit-appearance: none;
	margin: 100px 27% 90px 27%;
	width: 46%;
}

.container3 .blocks .renge:focus {
	outline: none;
}

.container3 .blocks .renge::-webkit-slider-runnable-track {
	height: 1px;
	border: 1px solid #262626;
}

.container3 .blocks .renge::-webkit-slider-thumb {
	height: 19px;
	width: 21px;
	background: url('../images/Shape1.png');
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px;
}

.container3 .blocks2 .items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 100px;
}

.container3 .blocks2 .items .item {
	margin: 0 auto;
	max-width: 260px
}

.container3 .blocks2 .items .item .hex {
	width: 90px;
	height: 76px;
	background-color: #262626;
	position: relative;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 0% 50%);
	margin-left: 35%;
	cursor: pointer;
}

.container3 .blocks2 .items .item .hex .hex-inner {
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	background: #fff;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 0% 50%);
}

.container3 .blocks2 .items .item .hex .hex-inner:hover {
	background: #ff0036;
}

.container3 .blocks2 .items .item .hex:hover {
	background: #ff0036;
}

.container3 .blocks2 .items .item .hex .hex-inner #like {
	font-size: 25px;
	color: #262626;
	padding: 28px 29px;
	position: relative;
}

.container3 .blocks2 .items .item .hex .hex-inner #ready {
	font-size: 30px;
	color: #262626;
	padding: 22px 30px;
	position: relative;
}

.container3 .blocks2 .items .item .hex .hex-inner #clean {
	font-size: 40px;
	color: #262626;
	padding: 18px 21px;
	position: relative;
}

.container3 .blocks2 .items .item .hex .hex-inner:hover #like {
	color: #ffffff;
}

.container3 .blocks2 .items .item .hex .hex-inner:hover #ready {
	color: #ffffff;
}

.container3 .blocks2 .items .item .hex .hex-inner:hover #clean {
	color: #ffffff;
}

.container3 .blocks2 .items .item h2 {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #262626;
	text-align: center;
	padding-top: 30px;
}

.container3 .blocks2 .items .item p {
	font-size: 16px;
	font-family: 'Lato';
	color: #505050;
	text-align: center;
	padding: 25px 5px 0 5px;
}

@media(max-width:1200px) {
.container3 .blocks2 .items .item {
	margin: 10px auto;
}
}

@media(max-width:991px) {
	.container3 .blocks .content {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.container3 .blocks .content .text {
		width: 100%;
	}
	.container3 .blocks .content .photo img {
		max-width: 95%;
		position: relative;
		margin: 40px 0;
		z-index: 4;
	}
	.container3 .blocks .content .photo {
		min-width: 320px;
	}
	
}

/*----------------------------------------CONTAINER4--------------------------------------------------*/





.container4 {
	background-color: #262626;
	padding-top: 100px;
	padding-bottom: 100px;
}

.container4 h1 {

	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #fff;
}

.container4 .clear {
	display: flex;
	justify-content: space-between;
	max-width: 400px;
	margin: 0 auto;
}

.container4 .clear li {
	padding-top: 28px;
	outline: none;
	cursor: pointer;
	text-align: center;
	font-size: 16px;
	font-family: 'Lato';
	font-weight: bold;
	color: #a4a4a4;
}

.container4 .clear li:hover {
	color: #f10335;
}





/*----------------------------------------CONTAINER5--------------------------------------------------*/





.container5 {
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: auto auto auto auto;
}

.container5 div img {
	max-width: 100%;
}

.container5 div .caption{
	margin-top: -88%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 50%;
}

.container5 .item10 .caption,
.container5 .item12 .caption {
	margin-top: -118%;
}
.container5 .item14 .caption,
.container5 .item16 .caption {
	margin-top: -65%;
}
.container5 div #plus2 {
	font-size: 20px;
	color: #fff;
}

.container5 div span {
	padding-top: 20px;
	font-size: 16px;
	font-family: 'Lato';
	color: #fff;
}


.container5 .item1 {
	grid-column: 1/5;
	grid-row: 1/2;
	z-index: -1;
	margin-top: -5%;
}

.container5 .item2 {
	grid-column: 5/8;
	grid-row: 1/2;
	z-index: -1;
	margin-top: -5%;
}

.container5 .item3 {
	grid-column: 8/12;
	grid-row: 1/2;
	z-index: -1;
	margin-top: -5%;
}

.container5 .item4 {
	grid-column: 12/15;
	grid-row: 1/2;
	z-index: -1;
	margin-top: -5%;
}

.container5 .item5 {
	grid-column: 1/4;
	grid-row: 2/3;
	z-index: 2;
	margin-top: -3%;
}

.container5 .item6 {
	grid-column: 4/8;
	grid-row: 2/3;
	z-index: -1;
	margin-top: -2%;
}

.container5 .item7 {
	grid-column: 8/11;
	grid-row: 2/3;
	z-index: -1;
	margin-top: -3%;
}

.container5 .item8 {
	grid-column: 11/15;
	grid-row: 2/3;
	z-index: -1;
	margin-top: -2%;
}

.container5 .item9 {
	grid-column: 1/5;
	grid-row: 3/4;
	margin-top: -176.6%;
	z-index: -2;
}

.container5 .item10 {
	grid-column: 5/8;
	grid-row: 3/4;
	margin-top: -236%;
	z-index: -2;
}

.container5 .item11 {
	grid-column: 8/12;
	grid-row: 3/4;
	margin-top: -176.6%;
	z-index: -2;
}

.container5 .item12 {
	grid-column: 12/15;
	grid-row: 3/4;
	margin-top: -236%;
	z-index: -2;
}

.container5 .item13 {
	grid-column: 1/4;
	grid-row: 4/5;
	margin-top: -119.8%;
	z-index: -2;
}

.container5 .item14 {
	grid-column: 4/8;
	grid-row: 4/5;
	margin-top: -89.8%;
	z-index: -2;
}

.container5 .item15 {
	grid-column: 8/11;
	grid-row: 4/5;
	margin-top: -119.8%;
	z-index: -2;
}

.container5 .item16 {
	grid-column: 11/15;
	grid-row: 4/5;
	margin-top: -89.8%;
	z-index: -2;
}

.container5 .block_footer {
	grid-column: 1/15;
	width: 100%;
	height: 110px;
	background-color: #262626;
	margin-top: -2.5%;
	z-index: 2;
}

.container5 .block_footer .renge {
	height: 39px;
	-webkit-appearance: none;
	margin: 92px 27% 0 27%;
	width: 46%;
	background: linear-gradient(to top, #fff 50%, #262626 50%);
	z-index: 3;
}

.container5 .block_footer .renge:focus {
	outline: none;
}

.container5 .block_footer .renge::-webkit-slider-runnable-track {
	height: 1px;
	border: 1px solid #f10335;
}

.container5 .block_footer .renge::-webkit-slider-thumb {
	height: 19px;
	width: 21px;
	background: url('../images/Shape2.png');
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px;
}





/*----------------------------------------CONTAINER6--------------------------------------------------*/






.container6 {
	width: 100%;
}

.container6 h1 {
	padding-top: 100px;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #262626;
}

.container6 h1 span {
	color: #ff0036;
}

.container6 p {
	padding-top: 50px;
	text-align: center;
	font-size: 16px;
	font-family: 'Lato';
	font-weight: bold;
	color: #505050;
}

.container6 p span {
	color: #ff0036;
}

.container6 .content {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 100px;

}

.container6 .content .column_left {
	padding-top: 150px;
	width: 340px;
	z-index: 3;
}
.container6 .content .column_right {
	padding-top: 150px;
	max-width: 370px;
	width: 340px;
	z-index: 3;
}

.container6 .content .photo {
	padding-top: 45px;
	max-width: 40.61%;
}
.container6 .content .photo img {
   width: 100%;
}

.container6 .content .column_left .item{
	height: 56px;
	text-align: right;
	border: 1px solid #e7e7e7;
	padding: 14px 18px 12px 18px;
	margin-top: 20px;
	margin-right: -30px;
}
.container6 .content .column_right .item{
	height: 56px;
	text-align: left;
	border: 1px solid #e7e7e7;
	padding: 14px 18px 12px 18px;
	margin-top: 20px;
	margin-left: -30px;

}
.container6 .content .photo .link {
	position: relative;
	text-align: center;
	top: -21%;
}
.container6 .content .photo .link a {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #fff;
	padding: 17px 39px;
	background-color: #393939;
	text-decoration: none;
}

.container6 .content .photo a:hover {
	background-color: #ff0036;
}


.container6 .content span {
	font-size: 19px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #262626;
	padding-left: 4%;
	padding-right: 4%;
	vertical-align: -5px;
}


.container6 .content .hex {
	display: inline-block;
	width: 32px;
	height: 28px;
	background-color: #e7e7e7;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 0% 50%);
}

.container6 .content .column_right .hex{
	float: left;
	
}

.container6 .content .hex #check {
	font-size: 13px;
	color: #262626;
	right: 10px;
	top: 2px;
	position: relative;
}

.container6 .content .column_right .hex #check {
	left: 10px;
}

.container6 .content .column_right .item:hover,
.container6 .content .column_left .item:hover{
	background-color: #ff0036;
	cursor: pointer;
}

.container6 .content .column_right .item:hover span,
.container6 .content .column_left .item:hover span {
	color: #fff;
}

.container6 .content .column_right .item:hover .hex,
.container6 .content .column_left .item:hover .hex {
	background: #fff;
}

.container6 .content .column_right .item:hover .hex #check,
.container6 .content .column_left .item:hover .hex #check {
	color: #ff0036;
}

@media(max-width:1200px) {
	.center {
		width: 95%;
	}
	.container6 .content .photo {
		padding-top: 45px;
		max-width: 32%;
	}
	.container6 .content .column_left {
		padding-top: 80px;
		width: 320px;
	}
	.container6 .content .column_right {
		padding-top: 80px;
		width: 320px;
	}
	.container6 .content .photo img {
		width: 100%;
	}
	.container6 .content .column_left .item {
		padding: 8px 10px 8px 10px;
		margin-right: -20px;
	}
	.container6 .content .column_right .item{
		padding: 8px 10px 8px 10px;
		margin-left: -20px;
	}
	.container6 .content span {
		padding-left: 2%;
		padding-right: 2%;
	}
	.container6 .content .photo .link a {
		padding: 15px 35px;
	}
}
@media(max-width:991px) {
	.container6 .content {
		justify-content: space-around;
	}
    .container6 .content .photo {
		order: 1;
		padding-top: 45px;
		max-width: 32%;
	}
	.container6 .content .column_left {
		padding-right: 10px;
		width: 330px;
	}
	.container6 .content .column_right {
		padding-left: 10px;
		width: 330px;
	}
	.container6 .content .photo {
		padding-top: 45px;
		max-width: 40%;
	}
	.container6 .content .column_left .item {
		margin-right: 0px;
	}
	.container6 .content .column_right .item{
		margin-left: 0px;
	}
	.container6 .content span {
		padding-left: 0%;
		padding-right: 0%;
	}
	.container6 .content .photo .link a {
		padding: 13px 30px;
	}
}
@media (max-width: 767px) {
	.container6 .content .photo {
		max-width: 60%;
	}
	.container6 .content span {
		padding-left: 1%;
		padding-right: 0%;
	}
}

@media (max-width: 540px) {
	.container6 .content {
		margin-bottom: 40px;
	}
	.container6 h1 {
		padding-top: 50px;
	}
	.container6 .content span {
		font-size: 17px;
	}
    .container6 .content .photo {
		max-width: 90%;
	}
	.container6 .content .photo a {
		padding: 13px 30px;
		left: 21%;
	}
	.container6 .content .column_left,
	.container6 .content .column_right {
		padding-right: 0px;
		padding-left: 0px;
	}
}


/*----------------------------------------CONTAINER7--------------------------------------------------*/





.container7 {
	width: 100%;
	background-image: url(../images/background2.png);
	padding-bottom: 70px;
}

.container7 h1 {
	padding-top: 94px;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #fff;
}

.container7 h1 span {
	color: #ff0036;
}

.container7 p {
	padding-top: 20px;
	padding-bottom: 84px;
	text-align: center;
	font-size: 16px;
	font-family: 'Lato';
	font-weight: bold;
	color: #a4a4a4;
}

.container7 p span {
	color: #ff0036;
}

.container7 .text h2 {
	text-align: center;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #fff;
}
.container7 .text p {
	padding-bottom: 22px;
}
.container7 .item {
	max-width: 300px;
	height: 116px;
	margin-bottom: 30px;
}
.container7 .window {
	height: 116px;
	background-color: #fff;
	box-shadow: 1px 0px 60px -12px #000000 inset;
}

.container7 .window .icon{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container7 .item .window:hover {
	box-shadow: 0px 0px 0px 0px #000000 inset;
	cursor: pointer;
}

.container7 h6 {
	padding-left: 2%;
	color: #292626;
	font-family: 'MgOpenModata';
	font-size: 24px;
}

.container7 .item4 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-width: 300px;
}

.container7 .item4 img {
	width: 66px;
}

.container7 .item4 span {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #ff0036;
}

.container7 .item4 .leafing {
	display: flex;
	justify-content: space-between;
	width: 36px;

}

.container7 .item4 .leafing .but {
	width: 8px;
	height: 8px;
	background-color: #e0e0e0;
	margin: 3px;
	text-decoration: none;
	font-size: 0px;
}

.container7 .item4 .leafing .but:hover {
	background-color: #ff0036;
}

@media(max-width:991px) {
	.container7 .item4 {
		height: 120px;
		margin-top: 30px;
		order: 1;
	}
}


























.container8 .renge {
	height: 39px;
	-webkit-appearance: none;
	margin: -19px 27% 0 27%;
	width: 46%;
	background: linear-gradient(to top, #fff 50%, rgba(0, 0, 0, 0) 50%);
	z-index: 3;
}

.container8 .renge:focus {
	outline: none;
}

.container8 .renge::-webkit-slider-runnable-track {
	height: 2px;
	border: 1px solid #f10335;
}

.container8 .renge::-webkit-slider-thumb {
	height: 19px;
	width: 21px;
	background: url('../images/Shape2.png');
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px;
}

.container8 h1 {
	padding-top: 94px;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #262626;
}

.container8 h1 span {
	color: #ff0036;
}

.container8 p {
	padding-top: 50px;
	padding-bottom: 90px;
	text-align: center;
	font-size: 16px;
	font-family: 'Lato';
	font-weight: bold;
	color: #505050;
}

.container8 p span {
	color: #ff0036;
}

.container8 .item_img {
	text-align: center;
	margin: 10px 0;
}

.container8 .item_img .photo {
	background: linear-gradient(to top, #fff 16.1%, #262626 15.1%);
	border: 1px solid #e7e7e7;
	border-bottom: none;
}

.container8 .item_img:hover .photo {
	border: 1px solid #262626;
	border-bottom: none;
}

.container8 .item_img .photo img {
	max-width: 100%;
}

.container8 .item_img:hover .photo img {
	opacity: 0;
}

.container8 .item_img .photo .soc {
	display: flex;
	justify-content: space-between;
	width: 62%;
	position: relative;
	left: 20%;
	top: -127px;
	opacity: 0;
}

.container8 .item_img:hover .photo .soc {
	opacity: 1;
}

.container8 .item_img .photo .soc .hex {
	width: 45px;
	height: 40px;
	background-color: #ffffff;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 0% 50%);
	margin: 0px 0px 0px 0px;
	cursor: pointer;
}

.container8 .item_img .photo .soc .hex i {
	color: #ff0036;
	margin-top: 11px;
}

.container8 .item_img .descr {
	max-width: 100%;
	border: 1px solid #e7e7e7;
	border-top: none;
}

.container8 .item_img:hover .descr {
	border: 1px solid #262626;
	border-top: none;
}

.container8 .item_img .descr h2 {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	margin-top: -10px;
}

.container8 .item_img:hover .descr h2 {
	color: #ff0f42;
}

.container8 .item_img .descr p {
	padding: 20px 0;
	font-weight: 400;
}

.container8 .renge_black {
	height: 39px;
	-webkit-appearance: none;
	margin: 90px 27% 0px 27%;
	width: 46%;
}

.container8 .renge_black:focus {
	outline: none;
}

.container8 .renge_black::-webkit-slider-runnable-track {
	height: 1px;
	border: 1px solid #262626;
}

.container8 .renge_black::-webkit-slider-thumb {
	height: 19px;
	width: 21px;
	background: url('../images/Shape1.png');
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px;
}



.container9 h1 {
	padding-top: 90px;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #262626;
}

.container9 h1 span {
	color: #ff0036;
}

.container9 p {
	padding-top: 50px;
	padding-bottom: 90px;
	text-align: center;
	font-size: 16px;
	font-family: 'Lato';
	font-weight: bold;
	color: #505050;
}

.container9 p span {
	color: #ff0036;
}

.container9 .item_img {
	text-align: center;
}

.container9 .item_img .photo img {
	max-width: 100%;
}

.container9 .item_img .photo h3 {
	font-size: 40px;
	font-family: 'Lato';
	font-weight: 300;
	color: #ff0036;
	margin-top: -95px;
}

.container9 .item_img .photo h3 span {
	color: #333333;
}

.container9 .item_img .descr h2 {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	margin-top: 60px;
}

.container9 .item_img .descr p {
	padding-top: 20px;
	font-weight: 400;
}



.container10 {
	background-color: #272727;
	padding-bottom: 70px;
}

.container10 h1 {
	padding-top: 100px;
	text-align: center;
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #ffffff;
}

.container10 h1 span {
	color: #ff0036;
}

.container10 p {
	padding-top: 50px;
	padding-bottom: 60px;
	text-align: center;
	font-size: 16px;
	font-family: 'Lato';
	font-weight: bold;
	color: #a4a4a4;
}

.container10 p span {
	color: #ff0036;
}

.container10 .item .descr {
	margin: 30px 0;
}

.container10 .item .descr .hex {
	display: inline-block;
	width: 66px;
	height: 60px;
	background-color: #a4a4a4;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 0% 50%);
	margin: 0px 0px 30px 0px;
	cursor: pointer;
}

.container10 .item .descr:hover .hex {
	background-color: #ff0036;
}

.container10 .item .descr .hex i {
	font-size: 30px;
	color: #262626;
	padding: 15px 14px;
}

.container10 .item .descr .hex #svg1 {
	font-size: 35px;
	padding: 15px 20px;
}

.container10 .item .descr .hex #svg2 {
	font-size: 35px;
	padding: 13px 16px;
}

.container10 .item .descr .hex #svg3 {
	padding: 15px 20px;
}

.container10 .item .descr:hover .hex i {
	color: #fff;
}

.container10 .item .descr h2 {
	display: inline-block;
	line-height: 20px;
	padding-left: 34px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	cursor: pointer;
}

.container10 .item .descr .text {
	background-color: #343434;
	padding: 30px 35px;
}

.container10 .item .descr:hover .text {
	background-color: #3d2329;
	cursor: pointer;
}

.container10 .item .descr .text p {
	font-size: 16px;
	font-family: 'Lato';
	color: #a4a4a4;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
}



.container11 h2 {
	padding-top: 100px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #262626;
}

.container11 h2 span {
	color: #ff0036;
}

.container11 .cont11_descr {
	padding-top: 50px;
	padding-bottom: 100px;
	text-align: center;
	color: #5c5c5c;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.container11 .cont11_descr span {
	color: #ff0036;
}

.container11 .price {
	margin: 0 auto;

}

.container11 .price .item11 {
	min-width: 245px;
	max-width: 360px;
	margin-bottom: 80px;

}

.container11 .price .item11 .card .first_price {
	background: #262626;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	padding: 18px 0;
	text-transform: uppercase;
}

.container11 .price .item11 .card .second_price {
	text-align: center;
	background: #f2f2f2;
	padding: 20px 0;
	font-size: 16px;
	color: #262626;
}

.container11 .price .item11 .card .second_price span {
	color: #262626;
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	font-weight: 900;
}

.container11 .price .item11 .card .single {
	border-left: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	text-align: center;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	padding: 20px 0;
}

.container11 .price .item11 .card .last_btn {
	text-align: center;
	margin: 33px 0;
}

.container11 .price .item11 .card .last_btn a {
	padding: 13px 45px;
	background: #262626;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

.container11 .price .item11 .card .last_btn a:hover {
	background: #ff0036;
	text-decoration: none;
}

.container11 .price .item11 .card:hover .second_price {
	background: #ff0036;
	color: #fff;
}

.container11 .price .item11 .card:hover .second_price span {
	color: #fff;
}







.container12 {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
	background-image: url("../images/background3.png");
}

.container12 .item12 {
	text-align: center;
}

.container12 i {
	padding-top: 100px;
	text-align: center;
	font-size: 40px;
	color: #ff0036;
}

.container12 p {
	padding-top: 25px;
	padding-bottom: 100px;
	text-align: center;
	font-size: 16px;
	font-family: 'Lato';
	color: #fff;
}






.container13 .renge {
	position: relative;
	top: -20px;
	height: 39px;
	-webkit-appearance: none;
	margin: 0px 27% 0 27%;
	width: 46%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%);
	z-index: 3;
}

.container13 .renge:focus {
	outline: none;
}

.container13 .renge::-webkit-slider-runnable-track {
	height: 1px;
	border: 1px solid #f10335;
}

.container13 .renge::-webkit-slider-thumb {
	height: 19px;
	width: 21px;
	background: url('../images/Shape2.png');
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px;
}

.container13 h2 {
	padding-top: 50px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #262626;
}

.container13 h2 span {
	color: #ff0036;
}

.container13 .text13 {
	padding-top: 50px;
	padding-bottom: 100px;
	text-align: center;
	color: #5c5c5c;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.container13 .text13 span {
	color: #ff0036;
}

.container13 .card_2,
.container13 .card_4 {
	padding-left: 3%;
	padding-bottom: 50px;
}

.container13 .card_1,
.container13 .card_3 {
	text-align: center;
}

.container13 .card_1 img,
.container13 .card_3 img {
	max-width: 370px;
}

.container13 .card_2 h3,
.container13 .card_4 h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #262626;
	padding-bottom: 10px;
}

.container13 .card_2 .icon,
.container13 .card_4 .icon {
	padding-bottom: 13px;
}

.container13 .card_2 .icon i,
.container13 .card_4 .icon i {
	color: #a2a2a2;
}

.container13 .card_2 .icon span,
.container13 .card_4 .icon span {
	color: #a2a2a2;
	padding-left: 4px;
	padding-right: 14px;
}

.container13 .card_2 p,
.container13 .card_4 p {
	color: #505050;
	font-family: 'MyriadPro-Regular';
	font-size: 15px;
	padding-bottom: 20px;
	line-height: 18px;
}

.container13 .card_2 a,
.container13 .card_4 a {
	color: #fff;
	background-color: #262626;
	padding: 10px 17px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	text-decoration: none;
}

.container13 .card_2 a:hover,
.container13 .card_4 a:hover {
	background-color: #ff0036;
	color: #fff;
	cursor: pointer;
}

.container13 .down i {
	font-size: 40px;
	margin: 0 48.4%;
	margin-bottom: 85px;
	background-color: #ffffff;
	color: #a2a2a2;
	cursor: pointer;
}

@media(max-width:1200px) {

	.container13 .card_2,
	.container13 .card_4 {
		padding-left: 10%;
	}

	.container13 .card_2 p,
	.container13 .card_4 p {
		padding-bottom: 11px;
		line-height: 16px;
	}
}

@media(max-width:992px) {

	.container13 .card_2,
	.container13 .card_4 {
		padding-left: 3%;
		max-width: 415px;
	}
}


.container14 {
	background-image: url("../images/background4.png");
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.container14 h2 {
	padding-top: 90px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #fff;
}

.container14 h2 span {
	color: #ff0036;
}

.container14 .renge {
	position: relative;
	top: -18px;
	height: 39px;
	-webkit-appearance: none;
	margin: 0px 27% 0 27%;
	width: 46%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%);
	z-index: 3;
}

.container14 .renge:focus {
	outline: none;
}

.container14 .renge::-webkit-slider-runnable-track {
	height: 1px;
	border: 1px solid #f10335;
}

.container14 .renge::-webkit-slider-thumb {
	height: 19px;
	width: 21px;
	background: url('../images/Shape2.png');
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px;
}

.container14 .block {
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
	max-width: 450px;
}

.container14 .block .item {
	width: 75px;
	text-align: center;
}

.container14 .block .item .hex {
	width: 75px;
	height: 70px;
	background-color: #ff0036;
	position: relative;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 0% 50%);

	cursor: pointer;
}

.container14 .block .item .hex .hex-inner {
	position: absolute;
	top: 1px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	background: rgba(0, 0, 0, 0);
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 100% 50%, 75% 100%, 25% 100%, 0% 50%, 0% 50%);
}

.container14 .block .item .hex .hex-inner i {
	font-size: 21px;
	color: #fff;
	padding: 23.5px 25.5px;
}

.container14 .block .item p {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding-top: 35px;
	padding-bottom: 68px;
}




.container15 .map {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-image: url("../images/map.png");
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;

}

.container15 .renge {
	position: relative;
	top: -69px;
	height: 39px;
	-webkit-appearance: none;
	margin: 0px 27% 0 27%;
	width: 46%;
	background: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%);
	z-index: 3;
}

.container15 .renge:focus {
	outline: none;
}

.container15 .renge::-webkit-slider-runnable-track {
	height: 1px;
	border: 1px solid #f10335;
}

.container15 .renge::-webkit-slider-thumb {
	height: 19px;
	width: 21px;
	background: url('../images/Shape2.png');
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10px;
}

.container15 h2 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #262626;
}

.container15 h2 span {
	color: #ff0036;
}

.container15 p {
	padding-top: 50px;
	padding-bottom: 85px;
	text-align: center;
	color: #5c5c5c;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.container15 p span {
	color: #ff0036;
}

.container15 p.speech {
	position: relative;
	align-self: center;
	padding: 30px 25px;
	margin: 100px 65px 0 65px;
	width: 300px;
	height: 170px;
	text-align: left;
	font-weight: 400;
	font-family: 'MyriadPro-Regular';
	background-color: #262626;
	color: #fff;
}

.container15 p.speech:before {
	content: ' ';
	position: absolute;
	width: 55px;
	height: 55px;
	left: 235px;
	top: 169px;
	clip-path: polygon(40% 0%, 100% 0%, 0% 100%);
	background-color: #262626;
}



.container15 .user_data {
	width: 470px;
	height: 475px;
	padding: 40px;
	background-color: #fff;
	box-shadow: 0px 0px 18px -11px #000000;
	margin: 100px 65px 0 65px
}

.container15 h3 {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #262626;
}

.container15 .name {
	outline: 0 !important;
	display: block;
	font-family: 'Lato', sans-serif;
	width: 100%;
	font-size: 16px;
	padding: 7px;
	margin-top: 30px;
	color: #505050;
	border: 1px solid #e7e7e7;
}

.container15 .email {
	outline: 0 !important;
	display: block;
	font-family: 'Lato', sans-serif;
	width: 100%;
	font-size: 16px;
	padding: 7px;
	margin-top: 20px;
	color: #505050;
	border: 1px solid #e7e7e7;
}

.container15 .subject {
	outline: 0 !important;
	display: block;
	font-family: 'Lato', sans-serif;
	width: 100%;
	font-size: 16px;
	padding: 7px;
	margin-top: 20px;
	color: #505050;
	border: 1px solid #e7e7e7;
}

.container15 .message {
	outline: none;
	resize: none;
	display: block;
	width: 100%;
	height: 90px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 7px;
	margin-top: 20px;
	color: #505050;
	border: 1px solid #e7e7e7;
}

.container15 .submit {
	outline: none;
	float: right;
	width: 120px;
	height: 40px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #fff;
	background: #262626;
	cursor: pointer;
	margin-top: 27px;
	border: 1px solid #262626;
}

.container15 .submit:hover {
	background-color: #f10335;
	border: 1px solid #f10335;
}

footer {
	margin: 0 auto;
	max-width: 1400px;
	background-color: #262626;
}

footer h2 {
	display: inline-block;
	width: 70%;
	font-size: 24px;
	padding-left: 46.5%;
	font-family: 'MyriadPro-Regular';
	color: #4f4f4f;
}

footer span {
	display: inline-block;
	width: 29%;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: right;
	font-size: 16px;
	font-family: 'MyriadPro-Regular';
	color: #4f4f4f;
}


/* @media(max-width:1200px) {
	header .hed .hex {
		width: 95.4px;
		height: 224.8px;
		left: 5%;
	}
	header .hed .hex .hex-inner span {
		padding-left: 81px;
		padding-top: 106px;
	}
    header .hed .block_menu {
        width: 80%;
    }
	header .hed .block_menu .menu {
		margin-left: 20%;
		margin-right: 3%;
	}
	.center {
		width: 93%;
	}
	.container2 {
		height: 500px;
	}
    .container2 h1 {
		padding-top: 29%;
	}
	.container3 .blocks .content .photo img {
		max-width: 99%;
		margin: 46px 0 46px 4%;
	}
	.container3 p {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.container3 .blocks .content .text .text_js {
		margin-top: 0px;
	}
	.container3 .blocks .content .text .text_js .item {
		width: 460px;
	}
	.container3 .blocks .content .text .text_js .item a {
		padding: 13px 0 10px 32px;
	}
	.container5 .item9,
	.container5 .item11{
		margin-top: -176.2%;
	}
	.container5 .item10,
	.container5 .item12{
		margin-top: -235.1%;
	}
	
	.container6 .content {
		grid-template-rows: 95px 53px 53px 53px 287px;
		grid-gap: 23px 0px;
		margin-bottom: 100px;
	}
	.container6 .content div img {
		max-width: 410px;
	}
	.container6 .content .item_left1 .hex,
    .container6 .content .item_left2 .hex,
    .container6 .content .item_left3 .hex {
	margin: 7px -36px 0px 0px;
    }

    .container6 .content .item_right1 .hex,
    .container6 .content .item_right2 .hex,
    .container6 .content .item_right3 .hex {
	margin: 7px 0px 0px 5px;
    }
	.container6 .content .item_left1 span,
    .container6 .content .item_left2 span,
    .container6 .content .item_left3 span {
		font-size: 16px;
		top: 12px;
		right: 45px;
	}
	.container6 .content .item_right1 span,
    .container6 .content .item_right2 span,
    .container6 .content .item_right3 span{
		font-size: 16px;
		top: 18px;
		left: 5px;
	}
	.container6 .content .item_center a {
		top: -20%;
		left: 30%;
	}
	.container7 .content .item2 img,
	.container7 .content .item3 img,
	.container7 .content .item5 img,
	.container7 .content .item6 img {
		padding-left: 50px;
		width: 11%;
	}
	.container7 .content .item2 span,
	.container7 .content .item3 span,
	.container7 .content .item5 span,
	.container7 .content .item6 span {
		top: -12%;
		font-size: 20px;
	}
	.container7 .content .item5 span {
		top: -9%;
	}
	.container7 .content .item3 span {
		top: -7%;
	}
	.container7 .content .item6 span {
		top: -4%;
	}
}


@media(max-width:992px) {
	header {
		height: 50px;
	}
	header .hed .hex {
		width: 74.4px;
		height: 198.8px;
		left: 1%;
	}
	header .hed .hex .hex-inner span {
		padding-left: 74px;
		padding-top: 97px;
		font-size: 24px;
	}
    header .hed .block_menu {
        width: 80%;
    }
	header .hed .block_menu .menu {
		margin-left: 17%;
		margin-right: 2%;
		height: 47px;
	}
	header .hed .block_menu .menu li {
		top: 0px;
		padding-top: 13px;
		padding-bottom: 19px;
	}
	header .hed .block_menu .menu li:hover:after{
		height: 47px;
	}
	header .hed .block_menu .menu li a {
		font-size: 13px;
	}
	.center {
		width: 93%;
	}
	.container2 {
		height: 317px;
	}
    .container2 h1 {
		padding-top: 52%;
		font-size: 25px;
	}
	.container2 p {
		font-size: 15px;
	}
	.container2 .link_top .link_left {
		font-size: 15px;
		padding: 10px 29px 10px 29px;
		margin-left: 31%;
	}
	.container2 .link_top .link_right {
		font-size: 15px;
		padding: 10px 34.5px 10px 29px;
	}	
	.container3 h1 {
		padding-top: 40px;
		font-size: 26px;
	}
	.container3 .blocks .content .photo img {
		max-width: 105%;
		margin: 46px 0 46px 0%;
	}
	.container3 p {
		padding-top: 30px;
		padding-bottom: 20px;
	}
	.container3 .blocks .content .text p {
		padding-top: 30px;
		font-size: 15px;
	}
	.container3 .blocks .content .text .text_js {
		margin-top: 0px;
	}
	.container3 .blocks .content .text .text_js .item {
		width: 340px;
	}
	.container3 .blocks .content .text .text_js .item a {
		padding: 13px 0 10px 32px;
	}
	.container5 .item9,
	.container5 .item11{
		margin-top: -176.2%;
	}
	.container5 .item10,
	.container5 .item12{
		margin-top: -235.1%;
	}
	.container3 .blocks .content .photo {
		min-width: 200px;
		max-height: 370px;
	}
	.container3 .blocks .renge {
		margin: 30px 27% 60px 27%;
	}
	.container3 .blocks2 .items .item h2 {
		font-size: 19px;
	}
	.container4 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
    .container5 .block_footer {
		margin-top: -3.5%;
	}	
    .container6 h1 {
		padding-top: 60px;
	}
	.container5 div #plus2 {
		top: -125px;
	}
	.container5 div span {
		top: -88px;
		left: 15%;
	}
	.container6 p {
		padding-top: 40px;
		padding-bottom: 10px;
	}
	.container6 .content {
		grid-template-rows: 55px 53px 53px 53px 287px;
		grid-gap: 13px 0px;
		margin-bottom: 100px;
	}
	.container6 .content div img {
		max-width: 300px;
	}
	.container6 .content .item_left1 .hex,
    .container6 .content .item_left2 .hex,
    .container6 .content .item_left3 .hex {
	margin: 7px -38px 0px 0px;
    }

    .container6 .content .item_right1 .hex,
    .container6 .content .item_right2 .hex,
    .container6 .content .item_right3 .hex {
	margin: 7px 0px 0px 4px;
	}

	.container6 .content .item_left1 span,
    .container6 .content .item_left2 span,
    .container6 .content .item_left3 span {
		font-size: 14px;
		top: 12px;
		right: 45px;
        font-weight: 700;
	}
	.container6 .content .item_right1 span,
    .container6 .content .item_right2 span,
    .container6 .content .item_right3 span{
		font-size: 14px;
		top: 18px;
		left: 5px;
		font-weight: 700;
	}
	.container6 .content .item_center a {
		top: -20%;
		left: 30%;
	}
	.container7 .content .item2 img,
	.container7 .content .item3 img,
	.container7 .content .item5 img,
	.container7 .content .item6 img {
		padding-left: 50px;
		width: 11%;
	}
	.container7 .content .item2 span,
	.container7 .content .item3 span,
	.container7 .content .item5 span,
	.container7 .content .item6 span {
		top: -12%;
		font-size: 20px;
	}
	.container7 .content .item5 span {
		top: -9%;
	}
	.container7 .content .item3 span {
		top: -7%;
	}
	.container7 .content .item6 span {
		top: -4%;
	}
}

@media(max-width:768px) {
	.center2 {
		width: 88%;
	}
} */


















@media(max-width:1200px) {
	.container8 .item_img .photo {
		background: linear-gradient(to top, #fff 19%, #262626 15%);
	}

	.container8 .item_img .photo .soc {
		width: 70%;
		left: 15%;
		top: -115px;
	}
}

@media (max-width: 991px) {
	.container8 .item_img .photo {
		background: linear-gradient(to top, #fff 15.3%, #262626 14.3%);
		width: 82%;
	}

	.container8 .item_img .descr {
		width: 82%;
	}

	.container8 .item_img .photo .soc {
		top: -135px;
	}
}

@media (max-width: 767px) {
	.container8 .item_img .photo {
		background: linear-gradient(to top, #fff 15.5%, #262626 14.5%);
		max-width: 53%;
		margin: 0 auto;
	}

	.container8 .item_img .descr {
		max-width: 53%;
		margin: 0 auto;
	}

	.container8 .item_img .photo .soc {
		width: 70%;
		left: 15%;
		top: -145px;
	}

	.container8 .item_img .photo img {
		max-width: 100%;
	}
}

@media (max-width: 575px) {
	.container8 .item_img .photo {
		background: linear-gradient(to top, #fff 17%, #262626 15%);
		max-width: 49.5%;
	}

	.container8 .item_img .descr {
		max-width: 49.5%;
	}

	.container8 .item_img .photo .soc {
		top: -135px;
	}

	.container8 .item_img .photo img {
		max-width: 100%;
	}
}

@media (max-width: 540px) {
	.container8 .item_img .photo {
		background: linear-gradient(to top, #fff 17%, #262626 15%);
		max-width: 53%;
	}

	.container8 .item_img .descr {
		max-width: 53%;
	}

	.container8 .item_img .photo .soc {
		width: 70%;
		left: 15%;
		top: -145px;
	}

	.container8 .item_img .photo img {
		max-width: 100%;
	}
}

@media (max-width: 500px) {
	.container8 .item_img .photo {
		background: linear-gradient(to top, #fff 18%, #262626 16%);
	}

	.container8 .item_img .photo .soc {
		top: -130px;
	}
	.container15 p.speech {
		margin: 100px 15px 0 15px;
	}
	
	.container15 .user_data {
		margin: 100px 15px 0 15px
	}
	footer h2 {
		width: 54%;
		padding-left: 21.5%;
	}
}

@media (max-width: 470px) {
	.container8 .item_img .photo {
		background: linear-gradient(to top, #fff 21%, #262626 19%);
	}

	.container8 .item_img .photo .soc {
		width: 80%;
		left: 11%;
		top: -115px;
	}
	.container4 .clear {
		flex-direction: column;
	}
}

@media (max-width: 400px) {
	.container8 .item_img .photo {
		background: linear-gradient(to top, #fff 23%, #262626 20%);
	}

	.container8 .item_img .photo .soc {
		width: 87%;
		left: 6%;
		top: -103px;
	}
	.container13 .card_1 img,
    .container13 .card_3 img {
	max-width: 275px;
	}
	.container5 .block_footer {
		margin-top: -4.5%;
	}
}

@media (max-width: 360px) {
	.container8 .item_img .photo {
		background: linear-gradient(to top, #fff 24.5%, #262626 22.5%);
	}

	.container8 .item_img .photo .soc {
		width: 93%;
		left: 3%;
		top: -93px;
	}
}

.owl-carousel .owl-nav button.owl-next span{
	position: absolute;
	top: 32vh;
	right: 30px;
	font-size: 80px;
	color: #a4a4a4;
}
.owl-carousel .owl-nav button.owl-prev span{
	position: absolute;
	top: 32vh;
	left: 30px;
	font-size: 80px;
	color: #a4a4a4;
}
.owl-carousel .owl-nav button.owl-prev span:hover,
.owl-carousel .owl-nav button.owl-next span:hover{
	color: #f10335;
}
@media (max-width: 767px) {
	.owl-carousel .owl-nav button.owl-next span{
		top: 22vh;
		right: 12px;
		font-size: 67px;
	}
	.owl-carousel .owl-nav button.owl-prev span{
		top: 22vh;
		left: 12px;
		font-size: 67px;
	}
}
@media (max-width: 480px) {
	.owl-carousel .owl-nav button.owl-next span{
		right: 6px;
		font-size: 55px;
	}
	.owl-carousel .owl-nav button.owl-prev span{
		left: 6px;
		font-size: 55px;
	}
	.owl-carousel .owl-item img {
		min-height: 300px;
	}
	header {
		height: 50px;
	}
	header .hed .burger {
		margin: 8px;
	}
	
}
/* header .hed .block_logo .hex {
	width: 230px;
	height: 205px;
	top: -112px;
	left: 7%;
	background-color: #ff0036;
	position: relative;
	clip-path: polygon(100% 50%, 100% 70%, 75% 100%, 25% 100%, 0% 70%, 0% 50%);
	margin-left: 21%;
	cursor: pointer;
	z-index: 2;
}

header .hed .block_logo .hex .hex-inner {
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background: #131313;
	clip-path: polygon(100% 50%, 100% 70%, 75% 100%, 25% 100%, 0% 70%, 0% 50%);
} */
